<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <!-- Bootstrap styling -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Style sheet -->
  <link rel="stylesheet" href="../../styles/styleUser.css">

    <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

    <!-- Vendor Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

</head>
<body>
      <!-- Navigation bar at top -->
  <div class = 'container'>
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <span class="navbar-brand">Wanderlist</span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Places</a>
            </li>
          </ul>
        </div>
      </nav>
  </div>

      <!-- This is where the map will populate -->
  <div class="map-color">    
    <div id="map"></div>
  </div>

        <!-- Users fill out a new vacation form -->
    <section class="container tripForm">
        <form action="/userpage/trips" method="POST" id="trip-form">
          <input type="text" placeholder="What city do you want to go to?" name="city"><br>
          <input type="text" placeholder="What sights do you want to see?" name="sights"><br>
          <input type="text" placeholder="Any special foods you want to eat?" name="foods"><br>
          <input type="text" placeholder="Any special activities?" name="activities"><br>
          <input type="submit">
        </form>
    </section>

    <!-- the users saved trip cards populate here -->
    <div class="container-fluid">
      <div class="container tripboxes">
        <div class ="row" id="tripcards">
          
        </div>
      </div>
    </div>


      <!-- Google map scripts -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8MjE8GAbJYYoJl77bJckRqYvANrVt1D8&callback=initMap">
    </script>

      <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

      <!-- Bootstrap script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

      <!-- Javascript -->
    <script src="./scripts/app.js"></script>
  

</body>
</html>