<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <!-- Bootstrap styling -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Style sheet -->
  <link rel="stylesheet" href="../../styles/styleUser.css">

    <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

    <!--Icon link -->
<!--   <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->

    <!-- Vendor Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

</head>
<body>
      <!-- Navigation bar at top -->
  <div class = 'container'>
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <span class="navbar-brand">Wanderlist</span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
  </div>

  <section class ="container map-form-container">
    <div class="row">

          <!-- This is where the map will populate -->
      <div class="col-6 map-form-col">
        <div class="map-color">
          <input id="pac-input" class="controls" type="text" placeholder="Search Box">    
          <div id="map"></div>
        </div>
      </div>

              <!-- Users fill out a new vacation form -->
        <div class="col-6 map-form-col justtheform">
          <form action="/userpage/trips" method="POST" id="trip-form">
            <h3>Create a new Trip Card</h3>
            <input type="text" class="form-field" placeholder="What city do you want to go to?" name="place"><br>
            <input type="text" class="form-field" placeholder="What sights do you want to see?" name="sights"><br>
            <input type="text" class="form-field" placeholder="Any special foods you want to eat?" name="foods"><br>
            <input type="text" class="form-field" placeholder="Any special activities?" name="activities"><br>
            <input type='submit'></input>
          </form>
        </div>
    </div>
  </section>
 
    <!-- the users saved trip cards populate here -->
    <div class="container-fluid">
      <div class="container alltrips">
        <div class ="row" id="tripcards">
                  <!-- tripcard handlebars template -->
            <script id="trip-template" type="text/x-handlebars-template">
            {{#each trip}}
            <div class ='col-4 onetrip'>
              <ul class = 'newtripcard' style='list-style-type:none'>
                <li><h3 id='city'>{{place}}</h3></li>
                <li><span class='tripsights'>Sights: {{sights}}</span></li>
                <li><span class='tripfoods'>Foods: {{foods}}</span></li>
                <li><span class='tripactivities'>Activities: {{activities}}</span></li>
              </ul>
              <div class='btn-group tripbuttons'>
                

                 <!-- Modal -->
                <button type='button' id='editbutton' class="btn" data-toggle="modal" data-target="#Modal" data-id={{_id}}>Edit</button>
                <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button type='button' id='deletebutton' data-id={{_id}}>Delete</button>
              </div>
            </div>
            {{/each}}
            </script>

        </div>
      </div>
    </div>


      <!-- Google map scripts -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8MjE8GAbJYYoJl77bJckRqYvANrVt1D8&callback=initMap"></script>
    <!--
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8MjE8GAbJYYoJl77bJckRqYvANrVt1D8&libraries=places"></script> -->

      <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

      <!-- Bootstrap script -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <!-- Javascript -->
    <script src="./scripts/app.js"></script>
  

</body>
</html>