<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <!-- Bootstrap styling -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Style sheet -->
  <link rel="stylesheet" href="../../styles/styleUser.css">

    <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

    <!--Icon link -->
<!--   <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->

    <!-- Vendor Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

</head>
<body>
      <!-- Navigation bar at top -->
  <div class = 'container'>
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <span class="navbar-brand">Wanderlist</span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Places</a>
            </li>
          </ul>
        </div>
      </nav>
  </div>

  <section class ="container map-form-container">
    <div class="row">

          <!-- This is where the map will populate -->
      <div class="col-6 map-form-col">
        <div class="map-color">    
          <div id="map"></div>
        </div>
      </div>

              <!-- Users fill out a new vacation form -->
        <div class="col-6 map-form-col justtheform">
          <form action="/userpage/trips" method="POST" id="trip-form">
            <h3>Creat a new Trip Card</h3>
            <input type="text" placeholder="What city do you want to go to?" name="place"><br>
            <input type="text" placeholder="What sights do you want to see?" name="sights"><br>
            <input type="text" placeholder="Any special foods you want to eat?" name="foods"><br>
            <input type="text" placeholder="Any special activities?" name="activities"><br>
            <input type="submit">
          </form>
        </div>
    </div>
  </section>
 
    <!-- the users saved trip cards populate here -->
    <div class="container-fluid">
      <div class="container alltrips">
        <div class ="row" id="tripcards">
          
        </div>
      </div>
    </div>


      <!-- Google map scripts -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8MjE8GAbJYYoJl77bJckRqYvANrVt1D8&callback=initMap">
    </script>

      <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

      <!-- Bootstrap script -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <!-- Javascript -->
    <script src="./scripts/app.js"></script>
  

</body>
</html>