body {
	background: #CB904D;
    background: linear-gradient(to bottom right, #CB904D, #FFFFFF);
}

p, h1 {
	font-family: 'Permanent Marker', cursive;
    text-align: center;
}

[class^="row"] {
	min-height: 100px;
	padding: 20px;

}